<h1>Edit Material</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_material_path(@conn, :update, @material)) %>

<%= render "upload.html", Map.put(assigns, :action, Routes.admin_material_upload_path(@conn, :upload, @material)) %>

<span><%= link "Back", to: Routes.admin_material_path(@conn, :index) %></span>
