<section class="phx-hero">
  <h1>The Materialist </h1>
  <p>Where materials meet creativity.</p>
</section>

<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li>
        <%= link "Vendors", to: Routes.admin_vendor_path(@conn, :index) %>
      </li>
      <li>
        <%= link "Materials", to: Routes.admin_material_path(@conn, :index) %>
      </li>
    </ul>
  </article>
</section>
